.profile__info {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    margin: 0 0 0 30px;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
    gap: 16px 18px;
}

@media screen and (max-width: 768px) {
    .profile__info {
        gap: 14px 10px;
        margin: 0;
    }
}