.profile {
    padding-bottom: 51px;
    margin: 0 auto;
    max-width: 880px;
}

@media screen and (max-width: 920px) {
    .profile {
        padding-left: 19px;
        padding-right: 19px;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        padding-bottom: 36px;
    }
}